.homeDiv {
  background-color: #b298dc;
  padding: 20px;
  max-height: fit-content;
}

.Home {
  background-image: url("https://cdn.dribbble.com/users/3066514/screenshots/10175120/media/a53234a1586e22bd39eaaec4ffd11df5.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat, repeat;
  padding: 20px;
}

.welcome {
  display: flex;
  align-content: center;
  justify-content: center;
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: "borel";
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  margin: 0;
  color: #6f2dbd;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 rgb(138, 11, 174);
  }
  20% {
    text-shadow: 3px 3px 0 #665687, 6px 6px 0 violet;
  }
  30% {
    text-shadow: 3px 3px 0 rgb(208, 37, 31), 6px 6px 0 #a663cc,
      9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.about {
  color: #6b24b7;
  font-family: "borel", cursive;
  margin-top: 10px;
}
