.snack-container-new {
    text-align: left;
    margin: 20px;
}

.snack-container-form {
    max-width: 350px;
    margin: 0 auto;
    background-color: #F47C7C;
    padding: 35px 35px;
}

.snack-new-input {
    padding: 5px;
    margin: 5px 0px;
}

.budget-new-input input {
    width: 300px;
    height: 30px;
    font-size: large;
}

.snack-new-input label {
    display: inline-block;
    margin: 5px;
    font-size: large;
}

button {
    margin: 20px;
    font-size: large;
}

button:hover {
    background-color: #C37B89;
    color: white;
}
